<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark justify-content-end " style="background-color:#e6b800">
    <a class="navbar-brand mr-auto" href="#">
      <img src="assets/images/logo2.png" width="100px" height="100px" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0">
      <ul class="navbar-nav text-right">
        <li class="nav-item active">
          <a class="nav-link text-dark" href="responsive1.html"
            style="font-size:25px;font-weight: bold; margin-right: 10px">Sign Up</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-dark " href="detail.html"
            style="font-size:25px;font-weight: bold;margin-right: 10px">Sign In</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-dark" href="#" style="font-size:25px;font-weight: bold;margin-right: 10px">Drive With
            Us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-dark " href="#" style="font-size:25px;font-weight: bold;margin-right: 10px">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>



<div class="container-fluid">
  <img src="assets/images/taxi.jpg" height="100%" width="100%" />
</div>

<!-- ******************************* FOOTER START HERE*****************************-->

<div class="container-fluid">
  <div id="footer">
    <div class="f">
      <p class="hed">
        <span style="font-size: 50px; color:white">Follow Us</span><br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in.
      </p>

      <figure id="fig">

        <img src="assets/images/fb.png">

        <img src="assets/images/tw.png">

        <img src="assets/images/go.png">

        <img src="assets/images/wi.png">

      </figure>

    </div>



    <div class="f">

      <figure>

        <img src="assets/images/excl.jpg">

      </figure>&nbsp;&nbsp;

      <ul id="ul3">

        <li>Lorem ipsum dolor sit amet</li>

        <li>consectetur adipisicing</li>

        <li>sed do eiusmod tempor</li>

        <li>ipsum dolor sit amet</li>

        <li>sed do eiusmod tempor</li>

      </ul>

    </div>



    <div class="f">

      <p class="hed"><span style="font-size: 50px; color:white;">Testimonals</span><br />

        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in.


        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in."

      </p>

      <p id="p6">-John Smith NY
      </p>

    </div><br><br>

    <p id="p7"> &copy Copyright 2014-2015.All Rights Reserved | Designed by:buylandingpagedesign.com
      Download responsive landing page designs and website design

      Download responsive landing page designs and website designs to capture quality leads, increase sales and boost
      your business conversion rates.

      buylandingpagedesign.com


    </p>

  </div>


</div>