<ul class="nav justify-content-center nav-tabs" style="background-color:gainsboro">
        <li class="nav-item">
          <a class="nav-link " href="#">Book a Ride</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Your Rides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" >Profile</a>
        </li>
      </ul>
    <br>
    

<form class="mx-auto col-md-4 col-md-offset-4" >
     <input type="text" class="form-control " placeholder="Pickup From" name="pickUpFrom" style="width:500px">
     <input type="text" class="form-control ma-auto" placeholder="Drop at" name="dropAt" style="width:500px">
</form><br>
<div class="container">
    <img src="assets/images/map.jpg"  style="margin-left:250px"/>
</div>
<br>
<button type="button" class="btn btn-primary" style="margin-left:700px">Ride Now</button><br><br>