
<ul class="nav justify-content-center nav-tabs" style="background-color:gainsboro">
        <li class="nav-item">
          <a class="nav-link " href="#">Book a Ride</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Your Rides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" >Profile</a>
        </li>
      </ul>
    <br>

   
<div style="height: 450px">
<h2 class="wait  text-center"  style="margin-top:30px">Waiting for Drivers Confirmation</h2>
<br><br><br><br><br>

 <!--CSS Spinner-->
 <div class="d-flex justify-content-center" >
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>