<ul class="nav justify-content-center nav-tabs" style="background-color:gainsboro">
        <li class="nav-item">
          <a class="nav-link "  style="font-size: 20px"href="#">Book a Ride</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="font-size: 20px"href="#">Your Rides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 20px" href="#">Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  style="font-size: 20px"href="#" >Profile</a>
        </li>
      </ul>
    <br>

<div > 
<div class="container">
    <img src="assets/images/map.jpg" style="margin-left:200px">
</div>

<div class="container">
        <h3 style="margin-left:470px">Rs.105</h3>
</div>

<button type="button" class="btn btn-primary btn-lg" style="margin-left:520px">Select Driver</button> &nbsp;
<button type="button" class="btn btn-primary btn-lg">Setup Payment</button>
</div>
<br>